@page
@model RazorLesson.Pages.Users.CreateModel
@{
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Create</h2>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="User.Name"></label>
            <input asp-for="User.Name" class="form-control" type="text"/>
            <span asp-validation-for="User.Name" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label asp-for="User.Email"></label>
            <input asp-for="User.Email" class="form-control" type="text"/>
            <span asp-validation-for="User.Email" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label asp-for="User.Password"></label>
            <input asp-for="User.Password" class="form-control" type="password"/>
            <span asp-validation-for="User.Password" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label>Role</label>
            <select asp-for="SelectedRoleIds" class="form-control" asp-items="Model.Roles"></select>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">Create</button>
        <a asp-page="Index" class="btn btn-secondary" style="width: 150px">Back to users</a>
    </div>
</form>